In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"D:\mlproject\artifacts\train.csv")
df.head()

  gender\trace_ethnicity\tparental_level_of_education\tlunch\ttest_preparation_course\tmath_score\treading_score\twriting_score
0  female\tgroup D\tmaster's degree\tstandard\tno...
1  female\tgroup C\tbachelor's degree\tfree/reduc...
2  female\tgroup D\tsome college\tfree/reduced\tn...
3  male\tgroup C\tmaster's degree\tfree/reduced\t...
4  male\tgroup E\thigh school\tstandard\tnone\t73...

In [9]:
c=df[:1]
c

  gender\trace_ethnicity\tparental_level_of_education\tlunch\ttest_preparation_course\tmath_score\treading_score\twriting_score
0  female\tgroup D\tmaster's degree\tstandard\tno...

In [10]:
print(c)

  gender\trace_ethnicity\tparental_level_of_education\tlunch\ttest_preparation_course\tmath_score\treading_score\twriting_score
0  female\tgroup D\tmaster's degree\tstandard\tno...

In [3]:
df_new=pd.read_csv(r"D:\mlproject\notebook\data\stud.csv",delimiter='\t')
df_new.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
c=df_new[:10]
c

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [8]:
c[:,:-1]

InvalidIndexError: (slice(None, None, None), slice(None, -1, None))