In [1]:
import pandas as pd

In [3]:
df=pd.read_csv(r"D:\mlproject\artifacts\train.csv")
df.head()

  gender\trace_ethnicity\tparental_level_of_education\tlunch\ttest_preparation_course\tmath_score\treading_score\twriting_score
0  female\tgroup D\tmaster's degree\tstandard\tno...
1  female\tgroup C\tbachelor's degree\tfree/reduc...
2  female\tgroup D\tsome college\tfree/reduced\tn...
3  male\tgroup C\tmaster's degree\tfree/reduced\t...
4  male\tgroup E\thigh school\tstandard\tnone\t73...

In [9]:
c=df[:1]
c

  gender\trace_ethnicity\tparental_level_of_education\tlunch\ttest_preparation_course\tmath_score\treading_score\twriting_score
0  female\tgroup D\tmaster's degree\tstandard\tno...

In [10]:
print(c)

  gender\trace_ethnicity\tparental_level_of_education\tlunch\ttest_preparation_course\tmath_score\treading_score\twriting_score
0  female\tgroup D\tmaster's degree\tstandard\tno...

In [11]:
df_new=pd.read_csv(r"D:\mlproject\notebook\data\stud.csv")
df_new.head()

  gender\trace_ethnicity\tparental_level_of_education\tlunch\ttest_preparation_course\tmath_score\treading_score\twriting_score
0  female\tgroup B\tbachelor's degree\tstandard\t...
1  female\tgroup C\tsome college\tstandard\tcompl...
2  female\tgroup B\tmaster's degree\tstandard\tno...
3  male\tgroup A\tassociate's degree\tfree/reduce...
4  male\tgroup C\tsome college\tstandard\tnone\t7...